{"filter":false,"title":".htaccess","tooltip":"/CI/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":5,"column":11},"action":"insert","lines":["<IfModule mod_rewrite.c>","RewriteEngine On","RewriteCond %{REQUEST_FILENAME} !-f","RewriteCond %{REQUEST_FILENAME} !-d","RewriteRule ^(.*)$ index.php/$1 [L]","</IfModule>"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":11},"end":{"row":5,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1555017584265,"hash":"1e328f0caa7bfa79826b922fdc8ac3840b50d95d"}